@use "../custom" as *;
@use "../components/mixins" as *;

.widtch-35 {
  width: 35%;
}
.widtch-65 {
  width: 65%;
}

.menu {
  @include gradient;
  li {
    padding: 0 0.7rem;
  }
  a {
    color: $white !important;
    text-transform: capitalize;
    font-weight: 600;
  }
}
