@use "../custom" as *;
//gradient mixin

@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($skobeloff, 0.95),
    rgba($skiny-shamrock, 0.95)
  );
}
@mixin gradient2($color1, $opacity1, $color2, $opacity2) {
  background: linear-gradient(
    to right,
    rgba($color1, $opacity1),
    rgba($color2, $opacity2)
  );
}

//absolute center
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
